<html>
<head>
</head>

<body>

	<table>
		<thead>
			<tr th:if="${!reservations.empty}">
				<th>Id</th>
				<th>Court Nr.</th>
				<th>Date</th>
				<th>Client Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${reservations.empty}">
				<td colspan="2">No reservation found.</td>
			</tr>
			<tr th:each="reservation: ${reservations}">
				<td><span th:text="${reservation.id}"> Id </span></td>
				<td><span th:text="${reservation.court}"> Court Nr. </span></td>
				<td><span th:text="${reservation.date}"> Date </span></td>
				<td><span th:text="${reservation.client.email}"> Client Email </span></td>
				<td>
                <a th:href="@{'/reservation/updateReservation/' + ${reservation.id}}">Edit</a>
                |
                <a th:href="@{'/reservation/deleteReservation/' + ${reservation.id}}">Delete</a>
              	</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<a th:href="@{'/reservation/addNewReservation/' + ${clientId}}">Add Reservation</a>
	<hr>
	<a th:href="@{'/client/list'}">Go Back To Clients List</a>

</body>
</html>